{% extends "admin/layout.njk" %}
<head>
    {% block head %}
        <title>Create</title>
        <link rel="stylesheet" href="/css/admin.css">
    {% endblock %}

       
</head>

{% block content %}
    <form class="card" method="POST" action="/admin/recipes">
        <section class="details">
            <h3 class="title">Creating recipe</h3>
            <button type="submit" class="save">Save recipes</button>
        </section>
        <div class="item"> 
            <p class="image">Image of recipe</p>
            <input type="url" name="img_recipe_url" class="img_recipe_url">
        </div>
        <!--verificar-->
         <div id="ingredients">
            <p  class="item_ingredient">Ingredients</p>
            <div class="item_ingredient"> 
                <input type="text" class="ingredient_text" name="ingredients[]" placeholder="Ingredient">
            </div>

        <button type="button" class="new_ingredient">add new ingredient</button>

        <div id="preparation_mode">
            <p  class="preparation">Preparation mode</p>
            <div class="preparation"> 
                <input type="text" class="preparation_mode" name="preration_mode[]" placeholder="Preparation mode">
            </div>
        </div>
        <button type="button" class="new_step">add new step</button>

        <div class="item"> 
            <p  class="dish">Name of dish</p>
            <input type="text" name="title" class="name_title">
        </div>

         <div class="item"> 
            <p  class="author">by</p>
            <input type="text" name="author" class="name_author">
        </div>
        <div class="item"> 
            <p class="aditional">Additional Information</p>
            <textarea name="aditional" id="aditional"  rows="10"></textarea>
        </div>

    </form>
    <script src="/adm.js"></script>
{% endblock content %}
