{% extends "admin/layout.njk" %}

 {% block head %}
    <header>
        <nav class="links-admin">
            <img src="/img/logoAdmin.png" alt="logo" class="logo">
            <link rel="stylesheet" href="/css/index.css">
        </nav>        
    </header>
{% endblock %}

{% block content %}
    <section>
        <div id="container-admin">
            <aside class="burguer-admin">
                <img src="/img/burger.png" alt="burguer" class="burguer-admin">
                <p>Triple bacon burger</p>
                <p>by Jorge Relato</p>
                <span class="see-burguer">View</span>
            </aside> 
            <aside class="pizza-admin">
                <img src="/img/pizza.png" alt="pizza" class="pizza-admin">
                <p>Pizza 4 seasons</p>
                <p>by Fabiana Melo</p>
                <span class="see-pizza">View</span>
            </aside> 
            <aside class="lasanha-admin">
                <img src="/img/lasanha.png" alt="lasanha" class="lasanha-admin">
                <p>Mac n 'cheese lasagna</p>
                <p>by Juliano Vieira</p>
                <span class="see-lasanha">View</span>
            </aside> 
             <aside class="sweets-admin">
                <img src="/img/doce.png" alt="Heavenly bread sweets" class="sweets-admin">
                <p>Heavenly bread sweets</p>
                <p>by Ricardo Golvea</p>
                <span class="see-sweets">View</span>
            </aside> 
            <aside class="chicken-admin">
                <img src="/img/asinhas.png" alt="BBQ chicken wings" class="chicken-admin">
                <p>BBQ chicken wings</p>
                <p>Vania Steroski</p>
                <span class="see-chicken">View</span>
            </aside> 
             <aside class="garlic-admin">
                <img src="/img/espaguete.png" alt="BBQ chicken wings" class="garlic-admin">
                <p>Spaghetti with garlic</p>
                <p>Júlia Kinoto</p>
                <span class="see-garlic">View</span>
            </aside> 
        </div>
    </section>
    
{% endblock content %}