{% extends "admin/layout.njk" %}

{% block content %}
    <section>
        <div id="container-admin">
            <h1>Manage revenue</h1>
            <aside class="burguer-admin">
            {%for recipe in recipes%}
                <img src={{recipe.img_recipe_url}} alt="burguer" class={{recipe.title}}>
                <p class={{recipe.title}}>{{recipe.title}}</p>
                <p class={{recipe.author}}> by {{recipe.author}}</p>
                <span class="see-burguer">View</span>
            {%endfor%}
            </aside>
        </div>
    </section>
    
{% endblock content %}