{% extends "admin/layout.njk" %}

{% block content %}
    <section>
        <div id="container-admin">
            <h1>Manage revenue</h1>
            <aside class="burguer-admin">
            {%for recipe in recipes%}
                <img src="/img/burger.png" alt="burguer" class="burguer-admin">
                <p>Triple bacon burger</p>
                <p>by Jorge Relato</p>
                <span class="see-burguer">View</span>
            {%endfor%}
            </aside>
        </div>
    </section>
    
{% endblock content %}