<!DOCTYPE html>
    <head>
        {% block head %}
            <title>Admin</title>
            <link rel="stylesheet" href="/css/admin.css">
        {% endblock %}

       
    </head>
    <body>
        <header>
            <nav class="links-admin">
                <img src="/img/logoAdmin.png" alt="logo" class="logo">
              
            </nav>        
        </header>       

        {% block content %}

        {% endblock %}

        {% block footer %}
            <footer>
                <p>All rights reserved, Foodfy recipes</p>
            </footer>
        {% endblock %}
    </body>

