<!DOCTYPE html>
    <head>
        {% block head %}
            <title>Admin</title>
            
        {% endblock %}

       
    </head>
    <body>
        <header>
            <nav class="links-admin">
                <img src="/img/logoAdmin.png" alt="logo" class="logo">
                <link rel="stylesheet" href="/css/admin.css">
            </nav>        
        </header>       

        {% block content %}

        {% endblock %}

        {% block footer %}
            <footer>
                <p>All rights reserved, Foodfy recipes</p>
            </footer>
        {% endblock %}
        <script src="/script.js"></script>
    </body>

