{% extends "admin/layout.njk" %}

<head>
    {% block head %}
        <title>Detail</title>
        <link rel="stylesheet" href="/css/detail.css">
        <link rel="stylesheet" href="/css/admin.css">
    {% endblock %}
</head>


{% block content %}
    <section>
        <div id="section">
            <h4>Recipe:TESTE{{recipes.title}}</h4>
            <section class="avatar" style="background: url(https://source.unsplash.com/collection/239835/500X500) no-repeat  center center / cover"></section>
            <h2 class="by">by{{recipes.title}}</h2>
            <p class="author_name">TESTE{{recipes.author}}</p>

            <h2 class="ingredients">Ingredients</h2>
            <ul class='details'>
                <li>{{recipes.ingredients}}teste</li>
                <li>{{recipes.ingredients}}teste</li>
            </ul>

            <h1 class="method">Method of Preparation</h1>
            <ul class='method_preparation'>
                    <li>teste{{recipes.preration_mode}}</li>
                    <li>teste{{recipes.preration_mode}}</li>
            </ul>
        </div>
     </section>
{% endblock %}
