{% extends "admin/layout.njk" %}

<head>
    {% block head %}
        <title>Detail</title>
        <link rel="stylesheet" href="/css/detail.css">
        <link rel="stylesheet" href="/css/admin.css">
    {% endblock %}
</head>


{% block content %}
    <section>
        <div id="section">
            <h4 class="recipeTitle">Recipe: {{recipes.title}}</h4>
            <section class="avatar" style="background: url({{recipes.img_recipe_url}}) no-repeat  center center / cover"></section>
            <h2 class="by"> by {{recipes.title}}</h2>
            <p class="author_name">{{recipes.author}}</p>

            <h2 class="ingredients">Ingredients</h2>
            <ul class='details'>
                {%for ingredient in recipes.ingredients%}
                <li>{{ingredient}}</li>
                {%endfor%}
            </ul>

            <h1 class="method">Method of Preparation</h1>
            <div class='method_preparation'>
                <p>{{recipes.preration_mode}}</p>
            </div>
            <!--<ul class='method_preparation'>
                {%for preparation in recipes.preration_mode%}
                    <li>{{preration}}</li>
                {%endfor%}
            </ul>-->

            <h1 class="add_information">Additional Information</h1>
            <p class="information">{{recipes.aditional}}</p>
        </div>
     </section>
{% endblock %}
