{% extends "layout.njk" %}

{% block head %}
    <title>DetailsRecipes</title>
    <link rel="stylesheet" href="/css/recipes.css">
{% endblock %}

{% block content %}
    <section id="details">
                <aside class="{{items.id}}">
                    <img src="{{items.image}}" alt="{{items.title}}" class='card'>
                    <h1>{{items.title}}</h1>
                    <p>{{items.author}}</p>
                    <h2 class="ingredients">Ingredients</h2>
                    <p class='other'>HIDE</p>
                    
                    <ul class='details'>
                        {%for recipe in items.ingredients%}
                            <li>{{recipe}}</li>
                        {%endfor%}
                    </ul>

                    <h1>Method of Preparation</h1>
                    <p class='otherSecond'>HIDE</p>
                    <ul class='detailsSecond'>
                        {%for recipe in items.preparation%}
                            <li>{{recipe}}</li>
                        {%endfor%}
                    </ul>

                    <h1 class='last'>Additional Information</h1>
                    <p class='information'>HIDE</p>
                    <p class='detailsInformation'>{{items.information}}</p>
                </aside> 
                <!--{%if items.id === 'primeiro'%}
                    <h1 class="praparation">Preparation</h1>   
                    <p class='hidePreparation'>HIDE</p>
                    <p class='preparationPrimeiro'>{{items.preparation}}<br><br></p>

                    <h1 class="information">Additional Information</h1>   
                    <p class='hideInformation'>HIDE</p>
                    <p class='informationPrimeiro'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'segundo'%}
                    <h1 class="praparationSegundo">Preparation</h1>   
                    <p class='hidePreparationSegundo'>HIDE</p>
                    <p class='preparationSegundo'>{{items.preparation}}<br><br></p>

                    <h1 class="informationSegundo">Additional Information</h1>   
                    <p class='hideInformationSegundo'>HIDE</p>
                    <p class='informationSegundoP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'terceiro'%}
                    <h1 class="praparationTerceiro">Preparation</h1>   
                    <p class='hidePreparationTerceiro'>HIDE</p>
                    <p class='preparationTerceiroP'>{{items.preparation}}<br><br></p>

                    <h1 class="informationTerceiro">Additional Information</h1>   
                    <p class='hideInformationTerceiro'>HIDE</p>
                    <p class='TerceiroP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'quarto'%}
                    <h1 class="praparationQuarto">Preparation</h1>   
                    <p class='hidePreparationQuarto'>HIDE</p>
                    <p class='preparationQuarto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationQuarto">Additional Information</h1>   
                    <p class='hideInformationQuarto'>HIDE</p>
                    <p class='QuartoP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'quinto'%}
                    <h1 class="praparationQuinto">Preparation</h1>   
                    <p class='hidePreparationQuinto'>HIDE</p>
                    <p class='preparationQuinto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationQuinto">Additional Information</h1>   
                    <p class='hideInformationQuinto'>HIDE</p>
                    <p class='QuintoP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'sexto'%}
                    <h1 class="praparationSexto">Preparation</h1>   
                    <p class='hidePreparationSexto'>HIDE</p>
                    <p class='preparationSexto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationSexto">Additional Information</h1>   
                    <p class='hideInformationSexto'>HIDE</p>
                    <p class='SextoP'>{{items.information}}<br><br></p>
                {%endif%} 
                 {%if items.id === 'setimo'%}
                    <h1 class="praparation">Preparation</h1>   
                    <p class='hidePreparation'>HIDE</p>
                    <p class='preparationPrimeiro'>{{items.preparation}}<br><br></p>

                    <h1 class="information">Additional Information</h1>   
                    <p class='hideInformation'>HIDE</p>
                    <p class='informationPrimeiro'>{{items.information}}<br><br></p>
                {%endif%}
                {%if items.id === 'oitavo'%}
                    <h1 class="praparationSegundo">Preparation</h1>   
                    <p class='hidePreparationSegundo'>HIDE</p>
                    <p class='preparationSegundo'>{{items.preparation}}<br><br></p>

                    <h1 class="informationSegundo">Additional Information</h1>   
                    <p class='hideInformationSegundo'>HIDE</p>
                    <p class='informationSegundoP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'nono'%}
                    <h1 class="praparationTerceiro">Preparation</h1>   
                    <p class='hidePreparationTerceiro'>HIDE</p>
                    <p class='preparationTerceiro'>{{items.preparation}}<br><br></p>

                    <h1 class="informationTerceiro">Additional Information</h1>   
                    <p class='hideInformationTerceiro'>HIDE</p>
                    <p class='TerceiroP'>{{items.information}}<br><br></p>
                {%endif%} 
                 {%if items.id === 'decimo'%}
                    <h1 class="praparationQuarto">Preparation</h1>   
                    <p class='hidePreparationQuarto'>HIDE</p>
                    <p class='preparationQuarto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationQuarto">Additional Information</h1>   
                    <p class='hideInformationQuarto'>HIDE</p>
                    <p class='QuartoP'>{{items.information}}<br><br></p>
                {%endif%} 
                 {%if items.id === 'decimo_primeiro'%}
                    <h1 class="praparationQuinto">Preparation</h1>   
                    <p class='hidePreparationQuinto'>HIDE</p>
                    <p class='preparationQuinto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationQuinto">Additional Information</h1>   
                    <p class='hideInformationQuinto'>HIDE</p>
                    <p class='QuintoP'>{{items.information}}<br><br></p>
                {%endif%} 
                {%if items.id === 'decimo_segundo'%}
                    <h1 class="praparationSexto">Preparation</h1>   
                    <p class='hidePreparationSexto'>HIDE</p>
                    <p class='preparationSexto'>{{items.preparation}}<br><br></p>

                    <h1 class="informationSexto">Additional Information</h1>   
                    <p class='hideInformationSexto'>HIDE</p>
                    <p class='SextoP'>{{items.information}}<br><br></p>
                {%endif%} -->
                <!--<p class="detailsPreparation">{{items.preparation}}</p>-->
     </section>
{% endblock %}