<!DOCTYPE html>
    <head>
        {% block head %}
            <title>Home</title>
        {% endblock %}

       
    </head>
    <body>
        <header>
            <nav class="links">
                <img src="/img/logo.png" alt="logo" class="logo"><!--colocar o link da home aqui usando js-->
                <a href="/about" class="about">About</a>
                <a href="/recipes" class="recipes">Recipes</a>
            </nav>        
        </header>
        {% block content %}

        {% endblock %}

        {% block footer %}
            <footer>
                <p>All rights reserved, Foodfy recipes</p>
            </footer>
        {% endblock %}
        <script src="/script.js"></script>
    </body>

