{% extends "layout.njk" %}

{% block head %}
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/recipes.css">
{% endblock %}

{% block content %}
    <section id="recipes">
        {%for conteudo in  items%}
                <aside class="{{conteudo.id}}">
                    <img src="{{conteudo.image}}" alt="{{conteudo.title}}">
                    <p>{{conteudo.title}}</p>
                    <p>{{conteudo.author}}</p>
                </aside> 
        {% endfor %}
     </section>
{% endblock %}
