/* === INDEX === */
body{
    background:#e4c8e2;
}

h1{
    font-family: Roboto-Bold;
    font-size: 24px;
    margin-top: 128px;
    margin-left: 230px;
    width: 198px;
    height: 28px;
    opacity: 100%;
    color: #826b6b;;
}

h4 {
    font-family: Roboto-Bold;
    color:#3e0a22;
    opacity: 100%;
    margin-top: 133px;
    margin-left: 230px;
    width: 302px;
    height: 28px;
    font-size: 24px;
}

.links-admin {
    background:#3e0a22;
    position: absolute;
    top:-2px;
    left: 0px;
    width: 1400px;
    height: 80px;
    opacity: 100%;
}

.logo {
    position: absolute;
    top:25px;
    left: 231px; 
    width: 90.6px;
    height: 26.9px;
    opacity: 100%;
    color:#FFFFFF;
}
.container-admin h2{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    top: 128px;
    left: 230px;
    width: 198px;
    height: 28px;
    opacity: 100%;
    position: absolute;
}

.burguer-admin img,
.pizza-admin img,
.lasanha-admin img,
.sweets-admin img,
.chicken-admin img,
.garlic-admin img {
    top: 186px;
    position: absolute;
    left: 230px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.burguer-admin  + p,
.burguer-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 186px;
    left: 422px;
    width: 156px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.burguer-admin  + p + p {
    font-size: 18px;
    color: #777777;
    top: 212px;
    width: 103px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-burguer,
.see-pizza,
.see-lasanha,
.see-sweets  {
    top: 238px;
    left: 422px;
    width: 63px;
    height: 16px;
    opacity: 100%;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.pizza-admin img{
    position: absolute;
    left: 710px;
    border-radius: 8.57px;
}

.pizza-admin  + p,
.pizza-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 186px;
    left: 902px;
    width: 136px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.pizza-admin  + p + p {
    font-size: 18px;
    color: #777777;
    top: 212px;
    width: 108px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-pizza {
    left: 902px;
    opacity: 100%;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}


.lasanha-admin img{
    top: 286px;
    position: absolute;
    opacity: 100%;
    border-radius: 8.57px;
}
.lasanha-admin  + p,
.lasanha-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 286px;
    left: 422px;
    width: 187px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.lasanha-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 312px;
    left: 422px;
    width: 109px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-lasanha {
    top: 338px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.sweets-admin img{
    top: 286px;
    position: absolute;
    left: 710px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.sweets-admin  + p,
.sweets-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 286px;
    left: 902px;
    width: 170px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.sweets-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 312px;
    left: 902px;
    width: 118px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-sweets {
    top: 338px;
    left: 902px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.chicken-admin img{
    top: 386px;
    position: absolute;
    left: 230px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.chicken-admin  + p,
.chicken-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 386px;
    left: 422px;
    width: 249px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.chicken-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 412px;
    left: 422px;
    width: 114px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-chicken {
    top: 438px;
    left: 422px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.garlic-admin img {
    top: 386px;
    position: absolute;
    left: 710px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.garlic-admin  + p,
.garlic-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 386px;
    left: 902px;
    width: 168px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.garlic-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 412px;
    left: 902px;
    width: 98px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-garlic {
    top: 438px;
    left: 902px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.see-burguer:hover, 
.see-pizza:hover, 
.see-lasanha:hover,
.see-sweets:hover,
.see-chicken:hover,
.see-garlic:hover {
    color: lightcoral;
}

footer {
    background: #3e0a22;
    opacity: 100%;
    margin-top: 500px;
    height: 62px;
    width: 1400px;
    position: absolute;
}

footer p {
    font-family: Roboto-Regular;
    color:#e74242; 
    margin-top: 1238;
    margin-left: 567px;
    width: 267px;
    height: 16px;
    opacity: 100%;
    font-size: 14px;
    letter-spacing: 0px 16px;
    text-align: center;
    padding-top: 23px;
}

/* === CREATE === */

.title {
    font-family: Roboto-Bold;
    margin-top: 133px;
    margin-left: 230px;
    width: 165px;
    height: 28px;
    color: #826b6b;
    opacity: 100%;
    font-size: 24px;
}

.save {
    margin-top: -50px;
    margin-left: 1031px;
    position: absolute;
    width: 139px;
    height: 37px;
    opacity: 100%;
    border-radius: 4px;
    background: #3e0a22;
    color: #FFF;
    border: 1px solid #3d094e;
}

.save:hover {
    background: #7b0863;
}

.dish {
    margin-top: 20px;
    margin-left: 230px;
    position: absolute;
    width: 134px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    color: #727373;
}

p.image {
    font-family: Roboto-Bold;
    margin-top: 20px;
    margin-left: 230px;
    position: absolute;
    width: 134px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    color: #727373;
}

input.img_recipe_url {
    margin-top: 50px;
    margin-left: 230px;
    position: absolute;
    width: 940px;
    height: 49px;
    opacity: 100%;
    font-size: 16px;
    color: #727373;
    border: 1px solid #e88e8e;
    border-radius: 4px;
    background: #d5cae4;
}

.ingredient_text {
    margin-top: -150px;
    margin-left: 0px;
    position: absolute;
    width: 940px;
    opacity: 100%;
    border-radius: 4px;
    height: 49px;
    border: 1px solid #e88e8e;
    background: #d5cae4;
}

.new_ingredient {
    font-family: Roboto-Bold;
    color: #de9898;
    margin-top: -108px;
    height: 19px;
    margin-left: 200px;
    margin-left: 230px;
    opacity: 100%;
    font-size: 16px;
    cursor: pointer;
    background: unset;
    border-radius: 4px;
    border-color: #e88e8e;
    padding-bottom: 20px;
    position: absolute;
}


.new_igredient:hover{
    color: lightsalmon;
}

.preparation {
    font-family: Roboto-Bold;
    color: #727373;
    margin-top: 20px;
    margin-left: 230px;
    width: 123px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
}

.preparation_mode {
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    width: 940px;
    opacity: 100%;
    border-radius: 4px;
    height: 49px;
    border: 1px solid #e88e8e;
    background: #d5cae4;
}

#ingredients {
    margin-top: 0px;
}

#preparation_mode {
    margin-top: -60px;
}

.new_step {
    font-family: Roboto-Bold;
    color: #de9898;
    margin-top: 41px;
    margin-left: 230px;
    width: 140px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    cursor: pointer;
    background: unset;
    border-radius: 4px;
    border-color: #e88e8e;
    padding-bottom: 20px;
}

.new_step:hover{
    color: lightsalmon;
}

.aditional {
    font-family: Roboto-Bold;
    color: #727373;
    margin-top: 250px;
    margin-left: 230px;
    width: 169px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
}

#aditional {
    background: #d5cae4;
    border: 1px solid #e88e8e;
    margin-top: 0px !important;
    margin-left: 230px !important;
    width: 940px;
    border-radius: 4px;
}

.name_title{
    margin-top: 45px;
    margin-left: 230px;
    position: absolute;
    width: 940px;
    opacity: 100%;
    border-radius: 4px;
    height: 49px;
    border: 1px solid #e88e8e;
    background: #d5cae4;
}

.author {
    margin-top: 130px;
    margin-left: 230px;
    position: absolute;
    width: 134px;
    height: 19px;
    opacity: 100%;
    font-size: 16px;
    color: #727373;

}

.name_author {
    margin-top: 160px;
    margin-left: 230px;
    position: absolute;
    width: 940px;
    opacity: 100%;
    border-radius: 4px;
    height: 49px;
    border: 1px solid #e88e8e;
    background: #d5cae4;
}
.item_ingredient {
    font-family: Roboto-Bold;
    margin-top: 170px;
    margin-left: 230px;
    font-size: 16px;
    width:123px;
    height: 19px;
    color: #727373;
    opacity: 100%;
}

a.edit {
    margin-top: -55px;
    padding-top: 5px;
    text-decoration: none;
    margin-left: 1034px;
    position: absolute;
    height: 27px;
    width: 136px;
    border-radius: 4px;
    background: #3e0a22;
    color: #FFF;
    display: block;
    text-align: center;
}

.edit:hover {
    background: #7b0863;
}

.delete {
    padding-top: 5px;
    margin-top: -932px;
    text-decoration: none;
    margin-left: 1184px;
    position: absolute;
    height: 36px;
    width: 136px;
    border-color: #3e0a22;
    border-radius: 4px;
    background: #3e0a22;
    color: #FFF;
    display: block;
    text-align: center;
}

.delete:hover {
    background: #7b0863;
}
