/* === INDEX === */
body{
    background:#e4c8e2;
}

h2{
    font-family: Roboto-Bold;
    font-size: 24px;
    margin-top: 128px;
    margin-left: 230px;
    width: 198px;
    height: 28px;
    opacity: 100%;
    color: #826b6b;;
}

.links-admin {
    background:#3e0a22;
    position: absolute;
    top:-2px;
    left: 0px;
    width: 1400px;
    height: 80px;
    opacity: 100%;
}

.logo {
    position: absolute;
    top:25px;
    left: 231px; 
    width: 90.6px;
    height: 26.9px;
    opacity: 100%;
    color:#FFFFFF;
}
.container-admin h2{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    top: 128px;
    left: 230px;
    width: 198px;
    height: 28px;
    opacity: 100%;
    position: absolute;
}

.burguer-admin img,
.pizza-admin img,
.lasanha-admin img,
.sweets-admin img,
.chicken-admin img,
.garlic-admin img {
    top: 186px;
    position: absolute;
    left: 230px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.burguer-admin  + p,
.burguer-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 186px;
    left: 422px;
    width: 156px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.burguer-admin  + p + p {
    font-size: 18px;
    color: #777777;
    top: 212px;
    width: 103px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-burguer,
.see-pizza,
.see-lasanha,
.see-sweets  {
    top: 238px;
    left: 422px;
    width: 63px;
    height: 16px;
    opacity: 100%;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.pizza-admin img{
    position: absolute;
    left: 710px;
    border-radius: 8.57px;
}

.pizza-admin  + p,
.pizza-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 186px;
    left: 902px;
    width: 136px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.pizza-admin  + p + p {
    font-size: 18px;
    color: #777777;
    top: 212px;
    width: 108px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-pizza {
    left: 902px;
    opacity: 100%;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}


.lasanha-admin img{
    top: 286px;
    position: absolute;
    opacity: 100%;
    border-radius: 8.57px;
}
.lasanha-admin  + p,
.lasanha-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 286px;
    left: 422px;
    width: 187px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.lasanha-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 312px;
    left: 422px;
    width: 109px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-lasanha {
    top: 338px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.sweets-admin img{
    top: 286px;
    position: absolute;
    left: 710px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.sweets-admin  + p,
.sweets-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 286px;
    left: 902px;
    width: 170px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.sweets-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 312px;
    left: 902px;
    width: 118px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-sweets {
    top: 338px;
    left: 902px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.chicken-admin img{
    top: 386px;
    position: absolute;
    left: 230px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.chicken-admin  + p,
.chicken-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 386px;
    left: 422px;
    width: 249px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.chicken-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 412px;
    left: 422px;
    width: 114px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-chicken {
    top: 438px;
    left: 422px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.garlic-admin img {
    top: 386px;
    position: absolute;
    left: 710px;
    width: 172px;
    height: 80px;
    opacity: 100%;
    border-radius: 8.57px;
}

.garlic-admin  + p,
.garlic-admin  + p + p {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #b32d2d;
    top: 386px;
    left: 902px;
    width: 168px;
    height: 21px;
    opacity: 100%;
    font-size: 18px;
    position: absolute;
}

.garlic-admin  + p + p {
    font-size: 14px;
    color: #777777;
    top: 412px;
    left: 902px;
    width: 98px;
    height: 16px;
    font-size: 14px;
    position: absolute;
}

.see-garlic {
    top: 438px;
    left: 902px;
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #c38e4d;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
}

.see-burguer:hover, 
.see-pizza:hover, 
.see-lasanha:hover,
.see-sweets:hover,
.see-chicken:hover,
.see-garlic:hover {
    color: lightcoral;
}

footer {
    background: #3e0a22;
    opacity: 100%;
    margin-top: 500px;
    height: 62px;
    width: 1400px;
    position: absolute;
}

footer p {
    font-family: Roboto-Regular;
    color:#e74242; 
    margin-top: 1238;
    margin-left: 567px;
    width: 267px;
    height: 16px;
    opacity: 100%;
    font-size: 14px;
    letter-spacing: 0px 16px;
    text-align: center;
    padding-top: 23px;
}

/* === CREATE === */

.title {
    
}